@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/PlayfairDisplay-Medium.ttf)
    format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/PlayfairDisplay-SemiBold.ttf)
    format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/PlayfairDisplay-Bold.ttf)
    format("truetype");
}
